<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{HH:mm:ss.SSS}){faint} %clr(%-5level){yellow} %clr(%logger{30}){cyan} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <conversionRule conversionWord="clr"
                    class="org.springframework.boot.logging.logback.ColorConverter"/>

    <logger name="com.generixgroup.gnxaitraining"
            level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.hibernate.orm.query"
            level="ERROR" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.springdoc.core.events.SpringDocAppInitializer"
            level="ERROR" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
